* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: rgba(34, 35, 37, 0.911)}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    
}
.hero {
    background-image: url(bg.jpg);
    height: 300px;
    width: 100%; 
    background-position: bottom 25% rigth 0; 
    background-size: cover;  
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
    font-weight: bold;
}

.logo {
    height: 50px;
    font-size: 18PX;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar li a:hover,
#navbar li a.active {
    color: white;
}

#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.main {
    height: 50vh;
    width: 100%;
    background-position: bottom 25% rigth 0;
    background-size: contain;    
}
 #top {
    padding: 0 80px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img-gallery {
    width: 80%;
    margin: 70px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.img-gallery img {
    width: 100%;
    cursor: pointer;
    height: 180px;
}

.img-gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 28px 50px rgba(68, 77, 136, 0.2);
}
.full-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img {
    width: 90%;
    max-width: 350px;
}
.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.map {
    width: 135px;
    height: 25vh;
    top: 0;
    left: 0;  
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.map h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.map p {
    margin-top: 25px;
    justify-content: center;
}

h4 {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-top: 25px;
}

h2 {
    font-size: 23px;
    line-height: 34px;
    color: #7ce2af;
}
h3 {
    color: white;
}

h5 {
    margin: 10px;
    font-size: 12px;
    color: white;
}
.mainn {
    margin-left: 40px;
}


.mainn p {
    font-size: 20px;
    line-height: 40px;
    color: #088178;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.mainn h5 {
    line-height: 28px;
}

button {
    background-color: peachpuff;
    color: #088178;
    border: 0;
    border-radius: 20px;
    height:30px;
    width: 80px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    outline: none;
    font-weight: 700;
}
button a {
    text-decoration: none;
    color: black;
}

.ga {
    padding-top: 40px;
    padding-left: 35px;
}











